-is_sender=false
-if current_user==chat.user
  -is_sender=true

-if is_sender
  -add_class="sender"
  -text_align="right"
-else
  -add_class="receiver"
  -text_align="left"

.row.message-body
  -if !is_sender
    .col-sm-12.chat_name
      =chat.user.name
    .col-sm-1.chat_image
      -img_url=chat.user.image.to_s.presence ||"https://bootdey.com/img/Content/avatar/avatar6.png"
      =image_tag img_url
  .col-sm-11{:class => "message-main-"+add_class}
    %div{:class => add_class}
      .message-text
        =simple_format(h(chat.content))
    .message-time.col-sm-12.hidden{:class => "text-"+text_align}
      -if chat.created_at
        =chat.created_at.strftime('%H:%M')
      -else
        time
